// =======================
// Body
// =======================
.main-form{
	width: 100%;

	@include larger-than(large){
		width: 50%;
		float: left;
	}

	li{
		display: inline-block;
		width: 100%;
		margin-bottom: 1em;
	}

	label{
		display: block;
	}

	input{
		width: 100%;

		@include larger-than(large){
			width: 66.66666667%;
		}
	}
}

.main-copy{
	padding-top: 2em;

	@include larger-than(large){
		width: 50%;
		float: left;
		padding-right: 5%;
	}
}




//Sign Up Form
.signup-form-container{
	@include larger-than(medium){
		width: 50%;
	}

	.choice a{
		text-decoration: underline;
	}
}

.signup-form{
	.submit{
		width: 100%;
	}
}

.phone{
	.input-field{
		width: auto;
	}
}