// =======================
// Header
// =======================
header{
	padding: 1em 0;
	border-bottom: 4px solid $red;

	@include smaller-than(medium){
		text-align: center;
	}

	h1{
		position: absolute;
		left: -9999em;
	}
}

.main-logo{
	float: left;

	@include smaller-than(medium){
		width: 50%;
		display: inline-block;
	}

	img{
		width: 100%;

		@include larger-than(medium){
			width: 220px;
		}
	}
}




//Sign Up Form
.signup-form-container{
	@include larger-than(medium){
		width: 50%;

	}

}

.signup-btn{
	float: right;
}

.signup-form{


	.submit{
		width: 100%;
	}
}

.phone{
	.input-field{
		width: auto;
	}
}

