// =======================
// Header
// =======================
header{
	padding: 1em 0;
	border-bottom: 4px solid $blue;

	@include smaller-than(medium){
		text-align: center;
	}

	h1{
		position: absolute;
		left: -9999em;
	}
}

.main-logo{
	float: left;

	@include smaller-than(medium){
		width: 50%;
		display: inline-block;
	}

	img{
		width: 100%;

		@include larger-than(medium){
			width: 220px;
		}
	}
}

.signup-btn{
	float: right;
}